/*adminPanel.html*/
table.cpanel{
    width: 75%;
    margin: 10px auto;
    border: white 1px solid;
}

table.cpanel thead tr th{
    text-align: center;
    vertical-align: middle;
    font-size: 26px;
    padding: 40px 1px;
    background: dodgerblue;
    color: white;
    border-radius: 5px;
}

table.cpanel tbody tr td{
    padding: 20px;
}

table.stuList{
    width: 120%;
    margin: 0 auto;
}

table.stuList thead tr th{
    border: none;
    border-bottom: white solid 2px;
    padding: 20px 5px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    vertical-align: middle;
}

table.stuList tbody tr td{
    border: none;
    border-bottom: white solid 2px;
    text-align: center;
    padding: 15px 5px;
}

/*adminCheck.html*/
table.stuInfo{
    width: 100%;
    margin: 30px auto 10px;
    font-family: "Microsoft JhengHei UI";
}

table.stuInfo thead th{
    background-color: #1d9b6c;
    padding: 40px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
}

table.stuInfo tbody td {
    border: none;
    border-bottom: grey solid 4px;
    padding: 20px 0;
    font-size: 20px;
}

table.chosenClassLst{
    width: 100%;
    margin: 0 auto;
}

table.chosenClassLst thead tr th{
    border: none;
    padding: 30px 0;
    background-color: dodgerblue;
    color: white;
}

table.chosenClassLst tbody tr td{
    text-align: center;
    border: none;
    padding: 25px 1px;
}

.btn{
    border-radius: 5px;
}

