table.mainTable{
    font-size: 18px;
    /*border-radius: 20px;
    border: aqua solid 10px;
    border-collapse: collapse;*/
    width: 70%;
    margin: 5px auto 5px;
}

table.mainTable th{
    padding: 10px;
}

table.mainTable td.mainContent{
    padding: 10px;
    height: 60%;
}

table.innerTable{
    width: 96%;
    margin: 0 auto 0;
}

table.innerTable th{
    font-size: 20px;
    border: none;
    border-bottom: seagreen solid 3px;
    border-radius: 8px;
    background-color: aquamarine;
    padding: 20px 0;
}

table.innerTable td{
    border: none;
    border-bottom: grey solid 2px;
    padding: 12px 14px;
}

input[type=text]{
    font-size: 18px;
    padding: 8px 10px;
    border: #D9D9D9 solid 2px;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    font-size: 18px;
    padding: 8px 10px;
    border: #D9D9D9 solid 2px;
    border-radius: 4px;
    box-sizing: border-box;
}

.required{
    color: red;
}

.atLeastOne{
    color: blue;
}