.header{
    height: 40%;
    padding: 20px 0;
}

.header-title {
    text-align: center;
    font-size: 30px;
}

.logo{
    border: none;
    border-radius: 5px;
}

.content{
    width: auto;
    height: auto;
}

.footer{
    padding: 30px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #FFC559;
    color: white;
}

p.footer-title a{
    text-align: center;
    color: white;
}

button[type=submit].btn{
    font-size: 20px;
    padding: 10px 6px;
    border: seagreen solid 2px;
    border-radius: 5px;
    background-color: aquamarine;
}

button[type=submit].btn-search{
    color: white;
    font-size: 19px;
    padding: 6px 14px;
    border: pink solid 1px;
    border-radius: 5px;
    background-color: hotpink;
}